.DS_Store
mpv/.config/mpv/watch_later/
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions
/cache/
/elpa/
/lisp/.secret.el
/url/
.lsp-session-v1
/.last-package-update-day
/.extension/
/forge-database.sqlite
/transient/
